#theNavbar {
    background-color: rgb(25, 20, 20);
    font-weight: bolder;
  }
  #theNavbar .navbar-brand{
    color: rgb(29,185,84);
  }
  #theNavbar .navbar-nav .nav-item .nav-link {
    color: rgb(29,185,84);
  }
  #theNavbar .navbar-nav .nav-item.active .nav-link {
    color: rgb(29,185,84);
  }
  #theNavbar .dropdown-menu {
    background-color: rgb(25, 20, 20);
  }
  #theNavbar .dropdown-menu .dropdown-item {
    color: rgb(29,185,84);
  }
  @media (min-width: 767px) {
    #theNavbar .navbar-nav .nav-item .nav-link {
      font-size: 0.9rem;
    }
    #theNavbar .navbar-nav .nav-item .nav-link:hover {
      color: rgb(255, 255, 255);
    }
    #theNavbar .navbar-nav .nav-item.active .nav-link:hover {
      color: rgb(255, 255, 255);
    }
    /* #theNavbar .dropdown-menu .dropdown-item:hover{
      color: rgb(255, 255, 255); */
    /* } */
}
  